In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

### Input Data

In [21]:
df_samples = pd.read_csv('../data/samples.csv')
df_samples['ITEM'] = 1
df_samples['PR'] = df_samples.apply(lambda serie: str(serie['PR']), 1)

# n samples by PR
df_samples_class = df_samples.groupby(by=['PR', 'YEAR','LEGEND']).count()
df_samples_class = df_samples_class.reset_index().rename(columns={'Unnamed: 0': 'N_SAMPLES'})

df_samples_class = df_samples_class[['PR', 'YEAR','LEGEND', 'N_SAMPLES']]


# identificar PR com poucas amostras
# identificar PR com amostras de classes com baixa representatividade

# facegrid chart of PR with hue == classes

          PR  YEAR             LEGEND  N_SAMPLES
0     223062  1985   Forest Formation        843
1     223062  1985       Non Observed         31
2     223062  1985            Pasture        139
3     223062  1986   Forest Formation        819
4     223062  1986       Non Observed         28
...      ...   ...                ...        ...
2090  231069  2021   Forest Formation        592
2091  231069  2021          Grassland        117
2092  231069  2021            Pasture        224
2093  231069  2021  Savanna Formation         98
2094  231069  2021            Wetland         59

[2095 rows x 4 columns]

### Chart

In [17]:
# Load the example car crash dataset
crashes = sns.load_dataset("car_crashes").sort_values("total", ascending=False)

total             float64
speeding          float64
alcohol           float64
not_distracted    float64
no_previous       float64
ins_premium       float64
ins_losses        float64
abbrev             object
dtype: object